.option-selector {
  border-radius: 16px;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: lightseagreen;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.list-selection {
  background-color: lightseagreen;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 0rem;
  margin: 1rem auto;
  border-radius: 25px;
  max-width: 200px;
}
