.lista-div {
  border: rgb(53, 53, 53) 1px solid;
  border-radius: 12px;

  .list-ele {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 10px;
    .button {
      margin-left: 10px;
      background-color: white;
      border: 1.5px solid lightseagreen;
      padding: 1rem 1rem;
      color: white;
    }
  }
}
